*{
    list-style-type: none;
}

.bg-grey {
    background-color:#333b52!important; 
    
}

.bg-grey-2 {
  background-color:#212532!important; 
  
}

.bg-green {
    background-color:#62be97;
}

ul {
    margin-bottom: 0 !important;
}

hr {
  border: 3px solid white;
  opacity: 1;
  border-radius: 30px;
  width: 70px;
}

.hr-black {
  border: 3px solid black;
}

.min-w-100 {
  min-width: 100%;
}

